@model List<tutibody.DAL.Entities.Portfolio>

<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolyo</h3>
            <h1>Başarıya Ulaşan Yüzler</h1>

            <p class="lead"> Gerçek sonuçlar, gerçek insanlar! Aşağıda, birlikte çalıştığımız müşterilerimizin kaydettiği inanılmaz değişimlerden bazılarını görebilirsiniz. Sağlıklı yaşam tarzını benimseyerek, sadece fiziksel görünüşlerinde değil, aynı zamanda zihinsel ve duygusal olarak da güçlenen insanlar. Siz de bu değişim hikayelerinden ilham alarak kendi yolculuğunuza başlayın!</p>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">
            @foreach (var item in Model)
            {
                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="@item.ImageUrl" class="thumb-link" title="@item.Title" data-size="828x1472">
                                <img src="@item.ImageUrl"
                                     srcset="@item.ImageUrl 1x, @item.ImageUrl 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                @item.Title
                            </h3>
                            <p class="item-folio__cat">
                                @item.SubTitle
                            </p>
                        </div>
                        <div class="item-folio__caption">
                            <p>@item.Description</p>
                        </div>
                        }
                    </div> 
                </div> 
            }
        </div>
    </div>
</section> <!-- end works -->
